.header__logo {
    margin: 0;
    padding: 0;
    margin-bottom: 41px;
    width: 142px;
    top: 0;
}

@media screen and (max-width: 918px) and (min-width: 320px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-left: 27px;
        margin-bottom: 0;
    }
}