.popup__close-icon {
    margin: 0;
    padding: 0;
    width: 32px;
    min-height: 32px;
    position: relative;
    top: -8px;
    right: -238px;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../img/Close-Icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.popup__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 540px){
    .popup__close-icon {
        top: -16px;
        right: -132px;
        width: 22px;
        min-height: 22px;
    }
}