.popup__input-error {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    padding: 0 36px 10px;
    margin-top: -25px;
    color: #ff4500;
    display: block;
    margin-bottom: 25px;
}

.popup__input-error:last-of-type {
    margin-top: -42px;

}