.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    padding: 0;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1279px) and (min-width: 880px) {
    .page {
        max-width: 1279px;
        min-width: 880px;
    }
}

@media screen and (max-width: 879px) and (min-width: 320px) {
    .page {
        max-width: 879px;
        min-width: 320px;
    }
}