.popup__foto-content{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
@media screen and (max-width: 918px) and (min-width: 770px) {
    .popup__foto-content {
        max-height: 660px;
    }
}

@media screen and (max-width: 770px) and (min-width: 620px) {
    .popup__foto-content {
        max-height: 500px;
    }
}

@media screen and (max-width: 620px) and (min-width: 220px) {
    .popup__foto-content {
        max-height: 310px;
    }
}