.card__number-of-likes{
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 15,73px;
    font-size: 13px;
    font-weight: 400;
}

.card__number-of-likes_no-likes {
    display: none;
}
