.effects__opacity_close{
    animation: opacity0 2s;
    /*transition-property: opacity;
    transition-duration: 2s, 0s;*/
}

@keyframes opacity0 {
    from {
        opacity: 1;
    }
    to { opacity: 0;}
}