.image-popup__foto {
    margin: 0 auto 10px auto;
    padding: 0;
    height: 660px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(190, 158, 158, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
    background-size: contain;
    /*margin-top: 195px;*/
}
@media screen and (max-width: 918px) and (min-width: 770px) {
    .image-popup__foto {
        height: 660px;
    }
}

@media screen and (max-width: 770px) and (min-width: 560px) {
    .image-popup__foto {
        height: 500px;
    }
}

@media screen and (max-width: 560px) and (min-width: 220px) {
    .image-popup__foto {
        height: 310px;
    }
}
