.popup__discription {
    margin: 0 auto 0 0;
    padding: 0;
    left: 0;
    width: fit-content;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color: white;
}

/* @media screen and (max-width: 918px) and (min-width: 770px) {
    .popup__discription {
        width: 660px;
    }
}

@media screen and (max-width: 770px) and (min-width: 620px) {
    .popup__discription {
        width: 500px;
    }
}

@media screen and (max-width: 620px) and (min-width: 220px) {
    .popup__discription {
        width: 310px;
    }
} */