.profile__edit-button-vector {
    margin: 0;
    padding: 0;
    align-self: center;
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 918px) and (min-width: 320px) {
    .profile__edit-button-vector {
        width: 7.5px;
        height: 7.5px;
    }
}