.popup__submit-button {
    margin: 0 auto;
    margin-bottom: 36px;
    padding: 0;
    width: 358px;
    min-height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    border-radius: 2px;
    border: none;
}

.popup__submit-button:hover {
    background: #000000;
    opacity: 0.8;
}

@media screen and (max-width: 540px){
    .popup__submit-button {
        margin: 0 auto 25px auto;
        width: 238px;
        height: 46px;
    }
}

.popup__submit-button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}