.footer__copyright {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  justify-self: left;
}

@media screen and (max-width: 618px) and (min-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
