.popup__close-icon_bigFoto{
    margin: 0;
    padding: 0;
    top: -8px;
    right: -40px;
    align-self: flex-end;
}

@media screen and (max-width: 620px){
    .popup__close-icon_bigFoto{
        width: 22px;
        min-height: 22px;
        top: -8px;
        right: -30px;
    }
}

@media screen and (max-width: 400px){
    .popup__close-icon_bigFoto{
        width: 22px;
        min-height: 22px;
        top: -8px;
        right: 0px;
    }
}