.edit-form__title {
    margin: 34px 64px 54px 36px;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

@media screen and (max-width: 540px){
    .edit-form__title {
        font-size: 18px;
        line-height: 22px;
        margin: 25px 22px 75px 22px;
    }
}