.profile__avatar {
    margin: 0;
    padding: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    /* background-image: url("../../../img/me4.jpg"); */
    background-size: 100%;
    alt: "аватар";
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 0;
    filter: brightness(100%);
}

@media screen and (max-width: 918px) and (min-width: 320px) {
    .profile__avatar {
        margin: 0 auto 26px auto;
    }
}

.profile__avatar:hover {
    cursor: pointer;
    /* background: rgba(0, 0, 0, 0.2); */
    filter: brightness(70%);
}

.profile__avatar:after {
    background: rgba(0, 0, 0, 0);
}

.profile__avatar:after:hover {
    background: rgba(0, 0, 0, 0.8);
}
