.profile__change-avatar-logo {
    margin: 0;
    padding: 0;
    align-self: center;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../img/change-avatar.svg");
    filter: brightness(100%)
}

.profile__change-avatar-logo:hover{
    opacity: 120%;
}

