.popup__field {
    margin: 0 auto;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__field:nth-of-type(2) {
    margin-bottom: 48px;
}

@media screen and (max-width: 540px){
    .popup__field {
        width: 238px;
    }
}
/* 
.popup__field:invalid {
    border-bottom: orangered solid 0.5px;
} */